@use '../varibles' as *;
@use '../media' as *;

.hero {
  padding: 60px 0;
  // .hero__head-group

  &__head-group {
    margin-bottom: 24px;
  }

  // .hero__title

  &__title {
    font-family: $second-family;

    font-weight: 400;
    // font-size: clamp(
    //   80px,
    //   calc(80px + (40 * ((100vw - 1024px) / (1440 - 1024)))),
    //   120px,
    // );
    @include responsive-font-size(80, 120, 1024, 1440);
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: $green;
  }

  // .hero__subtitle

  &__subtitle {
    font-family: $second-family;

    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    // font-size: clamp(
    //   32px,
    //   calc(32px + (8 * ((100vw - 1024px) / (1440 - 1024)))),
    //   40px,
    // );
    @include responsive-font-size(32, 40, 1024, 1440);
    line-height: 1.3;
    text-align: right;
    color: $dark;
  }

  // .hero__group-image

  &__group-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 26px;
  }

  // .hero__image

  &__image {
    object-fit: contain;
    width: calc(284 / 1300 * 100%);
    // .hero__image_left

    &_left {
      border-radius: 400px 400px 400px 0;
    }

    // .hero__image_center

    &_center {
      width: calc(680 / 1300 * 100%);
    }

    // .hero__image_right

    &_right {
      border-radius: 400px 0 400px 400px;
    }
  }
}
